.container table {
  border-collapse: collapse;
}

.container h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
}

.container td {
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 2px;
}

.empty {
  background-color: lightgray;
}

.path {
  background-color: gray;
}

.solution {
  background-color: firebrick;
}

.container {
  width: 540px;
  margin: 0 auto;
}
