table {
  border-collapse: collapse;
}
.maze td {
  width: 8px;
  height: 8px;
}

.empty {
  background-color: lightgray;
}

.path {
  background-color: gray;
}

.solution {
  background-color: black;
}
